[package]
name = "starknet-gateway-types"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.62"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
jsonrpsee = { git = "https://github.com/eqlabs/jsonrpsee", branch = "start_with_paths", default-features = false, features = [
    "server",
] }
pathfinder-common = { path = "../common" }
pathfinder-serde = { path = "../serde" }
reqwest = "0.11.4"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = { version = "1.0.68", features = ["arbitrary_precision", "raw_value"] }
serde_with = "1.9.4"
stark_hash = { path = "../stark_hash" }
thiserror = "1.0.30"
web3 = "0.18.0"

[dev-dependencies]
# Due to pathfinder_common::starkhash!() usage
hex-literal = "0.3"
starknet-gateway-test-fixtures = { path = "../gateway-test-fixtures" }
