Dockerfile
.git
# rust temporary files
target/
crates/load-test/target/
crates/stark_hash_python/target/
# Python virtualenv
.venv
# database files
*.sqlite
*.sqlite-wal
*.sqlite-shm
# compressed database dump files
*.zst
# direnv
.envrc
.env
# pyenv
.python-version