# Don't ignore this, because it being missing would interfere with -dirty in `git describe`.
# Dockerfile
# rust temporary files
target/
# Python virtualenv
.venv
# database files
*.sqlite
# compressed database dump files
*.zst
