[package]
authors = [
    "Mirko von Leipzig <mirko.vonleipzig@gmail.com>",
    "Krzysztof Lis <klis33@gmail.com>",
]
name = "pathfinder"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "pathfinder_lib"
path = "src/lib.rs"

[[example]]
name = "fact-retrieval"
path = "examples/fact_retrieval.rs"

[dependencies]
anyhow = "1.0.44"
bigdecimal = { version = "0.3.0", features = ["serde"] }
clap = "2.33.3"
enum-iterator = "0.7.0"
hex = "0.4.3"
home = "0.5.3"
# The latest stable revision on master for which jsonrpsee::proc_macros worked fine.
# Unfortunately 0.3.1 has still some issues with jsonrpsee::proc_macros.
jsonrpsee = { git = "https://github.com/paritytech/jsonrpsee", rev = "94c881b83c8fd5a3facba17a90c5a386467c44eb", features = [
    "full",
] }
lazy_static = "1.4.0"
# Explicitly required for jsonrpsee::proc_macros until the next release fixes this.
log = "0.4.14"
reqwest = { version = "0.11.4", features = ["json"] }
rusqlite = { version = "0.26.1", features = ["bundled"] }
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
serde_with = "1.9.4"
tokio = "1.11.0"
toml = "0.5.8"
web3 = "0.17.0"

[dev-dependencies]
assert_matches = "1.5.0"
pretty_assertions = "1.0.0"
