[workspace]
members = [
    "crates/common",
    "crates/compiler",
    "crates/crypto",
    "crates/ethereum",
    "crates/executor",
    "crates/gateway-client",
    "crates/gateway-test-fixtures",
    "crates/gateway-types",
    "crates/merkle-tree",
    "crates/p2p",
    "crates/p2p_proto",
    "crates/p2p_proto_derive",
    "crates/p2p_stream",
    "crates/pathfinder",
    "crates/retry",
    "crates/rpc",
    "crates/serde",
    "crates/storage",
]
exclude = [
    "crates/load-test",
    "crates/stark_hash_python",
    "utils/pathfinder-probe",
]
resolver = "2"

[profile.release-lto]
inherits = "release"
codegen-units = 1
lto = true

[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.74"
authors = ["Equilibrium Labs <info@equilibrium.co>"]

[workspace.dependencies]
anyhow = "1.0.75"
assert_matches = "1.5.0"
async-trait = "0.1.73"
axum = { version = "0.6.19", features = ["macros"] }
base64 = "0.13.1"
bitvec = "1.0.1"
blockifier = "=0.4.0"
bytes = "1.4.0"
cached = "0.44.0"
# This one needs to match the version used by blockifier
cairo-vm = "=0.8.3"
clap = "4.1.13"
const_format = "0.2.31"
criterion = "0.5.1"
fake = { version = "2.8.0", features = ["derive"] }
flate2 = "1.0.27"
futures = { version = "0.3", default-features = false, features = ["std"] }
hex = "0.4.3"
http = "0.2.9"
httpmock = "0.7.0-rc.1"
ipnet = { version = "2.9.0", features = ["serde"] }
lazy_static = "1.4.0"
metrics = "0.20.1"
num-bigint = { version = "0.4.4", features = ["serde"] }
primitive-types = "0.12.1"
pretty_assertions_sorted = "1.2.3"
rand = "0.8.5"
rayon = "1.8.0"
reqwest = { version = "0.11.18", features = ["json"] }
rstest = "0.18.2"
semver = "1.0.18"
serde = "1.0.192"
serde_json = "1.0.105"
serde_with = "3.0.0"
sha3 = "0.10"
# This one needs to match the version used by blockifier
starknet_api = "=0.6.0"
test-log = { version = "0.2.12", default-features = false, features = [
    "trace",
] }
thiserror = "1.0.48"
tokio = "1.29.1"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
zstd = { version = "0.12.4", features = ["pkg-config"] }
