[package]
name = "pathfinder-rpc"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true, features = ["ws", "macros"] }
base64 = { workspace = true }
dashmap = { workspace = true }
flate2 = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
hyper = { workspace = true }
metrics = { workspace = true }
mime = { workspace = true }
pathfinder-common = { path = "../common" }
pathfinder-compiler = { path = "../compiler" }
pathfinder-crypto = { path = "../crypto" }
pathfinder-ethereum = { path = "../ethereum" }
pathfinder-executor = { path = "../executor" }
pathfinder-merkle-tree = { path = "../merkle-tree" }
pathfinder-serde = { path = "../serde" }
pathfinder-storage = { path = "../storage" }
primitive-types = { workspace = true, features = ["serde"] }
reqwest = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = [
    "arbitrary_precision",
    "raw_value",
] }
serde_with = { workspace = true }
starknet-gateway-client = { path = "../gateway-client" }
starknet-gateway-test-fixtures = { path = "../gateway-test-fixtures" }
starknet-gateway-types = { path = "../gateway-types" }
starknet-types-core = { workspace = true }
starknet_api = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["test-util", "process"] }
tower = { workspace = true, features = ["filter", "util", "limit", "timeout"] }
tower-http = { workspace = true, features = [
    "cors",
    "limit",
    "request-id",
    "trace",
    "util",
] }
tracing = { workspace = true }
zstd = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
bytes = { workspace = true }
flate2 = { workspace = true }
gateway-test-utils = { path = "../gateway-test-utils" }
hex = { workspace = true }
pathfinder-crypto = { path = "../crypto" }
pretty_assertions_sorted = { workspace = true }
rstest = { workspace = true }
tempfile = { workspace = true }
test-log = { workspace = true, features = ["trace"] }
tokio-tungstenite = { workspace = true }
tracing-subscriber = { workspace = true }
