[package]
name = "pathfinder-rpc"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.62"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
base64 = { workspace = true }
flate2 = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
hyper = "0.14.27"
jsonrpsee = { version = "0.16.3", default-features = false, features = [
    "jsonrpsee-types",
    "server",
] }
metrics = { workspace = true }
pathfinder-common = { path = "../common" }
pathfinder-compiler = { path = "../compiler" }
pathfinder-ethereum = { path = "../ethereum" }
pathfinder-executor = { path = "../executor" }
pathfinder-merkle-tree = { path = "../merkle-tree" }
pathfinder-serde = { path = "../serde" }
pathfinder-storage = { path = "../storage" }
primitive-types = { workspace = true, features = ["serde"] }
reqwest = { version = "0.11.18", features = ["json"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = [
    "arbitrary_precision",
    "raw_value",
] }
serde_with = { workspace = true }
stark_hash = { path = "../stark_hash" }
starknet-gateway-client = { path = "../gateway-client" }
starknet-gateway-test-fixtures = { path = "../gateway-test-fixtures" }
starknet-gateway-types = { path = "../gateway-types" }
starknet_api = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["test-util", "process"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tower = { version = "0.4.13", default-features = false, features = [
    "filter",
    "util",
] }
tower-http = { version = "0.4.4", default-features = false, features = [
    "cors",
] }
tracing = { workspace = true }
zstd = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
bytes = { workspace = true }
hex = "0.4.3"
jsonrpsee = { version = "0.16.3", default-features = false, features = [
    "async-client",
    "jsonrpsee-types",
    "server",
] }
lazy_static = { workspace = true }
pretty_assertions = { workspace = true }
reqwest = { version = "0.11.18", features = ["json"] }
rstest = "0.18.2"
stark_hash = { path = "../stark_hash" }
tempfile = "3.6"
test-log = { version = "0.2.12", default-features = false, features = [
    "trace",
] }
tracing-subscriber = { workspace = true }

[[test]]
name = "integration-versioning"
path = "tests/versioning.rs"
