[package]
name = "pathfinder-rpc"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.62"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
base64 = "0.13.1"
flate2 = "1.0.25"
futures = { version = "0.3", default-features = false, features = ["std"] }
http = "0.2.9"
hyper = "0.14.25"
jsonrpsee = { version = "0.16.2", default-features = false, features = ["jsonrpsee-types", "server"] }
metrics = "0.20.1"
pathfinder-common = { path = "../common" }
pathfinder-ethereum = { path = "../ethereum" }
pathfinder-merkle-tree = { path = "../merkle-tree" }
pathfinder-serde = { path = "../serde" }
pathfinder-storage = { path = "../storage" }
primitive-types = { version = "0.12.1", features = ["serde"] }
reqwest = { version = "0.11.13", features = ["json"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["arbitrary_precision", "raw_value"] }
serde_with = { workspace = true }
stark_hash = { path = "../stark_hash" }
starknet-gateway-client = { path = "../gateway-client" }
starknet-gateway-test-fixtures = { path = "../gateway-test-fixtures" }
starknet-gateway-types = { path = "../gateway-types" }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["test-util", "process"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tower = { version = "0.4.13", default-features = false, features = ["filter", "util"] }
tower-http = { version = "0.4.0", default-features = false, features = ["cors"] }
tracing = { workspace = true }
zstd = "0.12"

[dev-dependencies]
assert_matches = { workspace = true }
bytes = "1.3.0"
hex = "0.4.3"
jsonrpsee = { version = "0.16.2", default-features = false, features = ["async-client", "jsonrpsee-types", "server"] }
lazy_static = "1.4.0"
pretty_assertions = "1.3.0"
reqwest = { version = "0.11.13", features = ["json"] }
rstest = "0.18.1"
stark_hash = { path = "../stark_hash" }
tempfile = "3.4"
test-log = { version = "0.2.11", default-features = false, features = ["trace"] }
tracing-subscriber = { workspace = true }

[[test]]
name = "integration-versioning"
path = "tests/versioning.rs"
