[package]
name = "pathfinder-common"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
full-serde = []
test-utils = ["dep:metrics"]

[dependencies]
bitvec = "0.20.4"
ethers = "1.0.2"
metrics = { version = "0.20.1", optional = true }
rusqlite = { version = "0.28.0", features = ["bundled"] }
serde = { version = "1.0.149", features = ["derive"] }
serde_json = { version = "1.0.89", features = ["arbitrary_precision", "raw_value"] }
sha3 = "0.10"
stark_curve = { path = "../stark_curve" }
stark_hash = { path = "../stark_hash" }
stark_poseidon = { path = "../stark_poseidon" }
thiserror = "1.0.37"

[build-dependencies]
vergen = { version = "7", default-features = false, features = ["git"] }
