[package]
name = "pathfinder-common"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
full-serde = []
test-utils = ["dep:metrics"]

[dependencies]
anyhow = { workspace = true }
num-bigint = { version = "0.4.3", features = ["serde"] }
bitvec = "0.20.4"
metrics = { version = "0.20.1", optional = true }
primitive-types = { version = "0.12.1", features = ["serde"] }
rusqlite = { version = "0.28.0", features = ["bundled"] }
semver = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["arbitrary_precision", "raw_value"] }
serde_with = { workspace = true }
sha3 = "0.10"
stark_curve = { path = "../stark_curve" }
stark_hash = { path = "../stark_hash" }
stark_poseidon = { path = "../stark_poseidon" }
thiserror = { workspace = true }

[build-dependencies]
vergen = { version = "8", default-features = false, features = ["git", "gitcl"] }
