[package]
name = "p2p_stream"
description = "Extension of libp2p-request-response that allows for streaming responses to a single request."
authors = [
    "Parity Technologies <admin@parity.io>",
    "Equilibrium Labs <info@equilibrium.co>",
]
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }

[dependencies]
async-trait = { workspace = true }
futures = { workspace = true }
futures-bounded = { workspace = true }
libp2p = { workspace = true, features = ["identify", "noise", "tcp", "tokio"] }
tracing = { workspace = true }
void = { workspace = true }

[dev-dependencies]
anyhow = { workspace = true }
fake = { workspace = true }
libp2p = { workspace = true, features = ["identify", "noise", "tcp", "tokio", "yamux"] }
libp2p-plaintext = { workspace = true }
libp2p-swarm-test = { workspace = true }
rstest = { workspace = true }
test-log = { workspace = true, features = ["trace"] }
tokio = { workspace = true, features = ["macros", "time"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
