[package]
name = "pathfinder"
version = "0.9.6"
edition = { workspace = true }
license = { workspace = true }
rust-version = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "pathfinder_lib"
path = "src/lib.rs"

[features]
tokio-console = ["console-subscriber", "tokio/tracing"]
p2p = ["dep:base64", "dep:p2p", "dep:p2p_proto", "dep:zeroize"]
rpc-full-serde = []

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true, optional = true }
bitvec = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true, features = ["derive", "env", "wrap_help"] }
console-subscriber = { version = "0.1.10", optional = true }
futures = { workspace = true }
lazy_static = { workspace = true }
lru = "0.11.1"
metrics = { workspace = true }
metrics-exporter-prometheus = "0.11.0"
p2p = { path = "../p2p", optional = true }
p2p_proto = { path = "../p2p_proto", optional = true }
pathfinder-common = { path = "../common" }
pathfinder-compiler = { path = "../compiler" }
pathfinder-crypto = { path = "../crypto" }
pathfinder-ethereum = { path = "../ethereum" }
pathfinder-merkle-tree = { path = "../merkle-tree" }
pathfinder-retry = { path = "../retry" }
pathfinder-rpc = { path = "../rpc" }
pathfinder-serde = { path = "../serde" }
pathfinder-storage = { path = "../storage" }
primitive-types = { workspace = true }
rayon = "1.8.0"
reqwest = { workspace = true }
semver = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = [
    "arbitrary_precision",
    "raw_value",
] }
starknet-gateway-client = { path = "../gateway-client" }
starknet-gateway-types = { path = "../gateway-types" }
tempfile = "3.8"
thiserror = "1.0.48"
time = { version = "0.3.26", features = ["macros"] }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.14"
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.17", features = [
    "env-filter",
    "time",
    "ansi",
] }
url = "2.4.1"
warp = "0.3.5"
zeroize = { version = "1.6.0", optional = true }
zstd = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
const-decoder = "0.3.0"
crossbeam-channel = "0.5.8"
fake = { workspace = true }
flate2 = { workspace = true }
http = { workspace = true }
mimalloc = { version = "0.1.38", default-features = false }
mockall = "0.11.4"
pathfinder-common = { path = "../common", features = ["full-serde"] }
pathfinder-compiler = { path = "../compiler" }
pathfinder-executor = { path = "../executor" }
pathfinder-rpc = { path = "../rpc" }
pathfinder-storage = { path = "../storage" }
pretty_assertions = { workspace = true }
proptest = "1.2.0"
rand = { workspace = true }
rand_chacha = "0.3.1"
rstest = { workspace = true }
serde_with = { workspace = true }
starknet-gateway-test-fixtures = { path = "../gateway-test-fixtures" }
starknet_api = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[build-dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = [
    "arbitrary_precision",
    "raw_value",
] }
