[package]
name = "pathfinder"
version = "0.3.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.58"
build = "build.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "pathfinder_lib"
path = "src/lib.rs"

[features]
tokio-console = ["console-subscriber", "tokio/tracing"]
rpc-full-serde = []

[dependencies]
anyhow = "1.0.44"
async-trait = "0.1.52"
base64 = "0.13.0"
# paritys scale codec locks us here
bitvec = "0.20.4"
bytes = "1.1.0"
clap = { version = "3.1.6", features = ["env"] }
console-subscriber = { version = "0.1.3", optional = true }
enum-iterator = "0.7.0"
flate2 = "1.0.23"
futures = { version = "0.3", default-features = false, features = ["std"] }
hex = "0.4.3"
jsonrpsee = { version = "0.11.0", features = ["server"] }
lazy_static = "1.4.0"
num-bigint = { version = "0.4.3", features = ["serde"] }
r2d2 = "0.8.9"
r2d2_sqlite = "0.20.0"
reqwest = { version = "0.11.4", features = ["json"] }
rusqlite = { version = "0.27.0", features = ["bundled"] }
semver = "1.0.7"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = { version = "1.0.68", features = ["arbitrary_precision", "raw_value"] }
serde_with = "1.9.4"
sha3 = "0.9"
stark_hash = { path = "../stark_hash" }
tempfile = "3"
thiserror = "1.0.30"
tokio = "1.11.0"
tokio-retry = "0.3.0"
toml = "0.5.8"
tracing = "0.1.31"
tracing-subscriber = { version = "0.3.9", features = ["env-filter"] }
web3 = "0.18.0"
zstd = "0.10"

[dev-dependencies]
assert_matches = "1.5.0"
flate2 = "1.0.23"
http = "0.2.6"
jsonrpsee = { version = "0.11.0", features = ["server", "async-client"] }
mockall = "0.11.0"
pretty_assertions = "1.0.0"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tokio = { version = "1.11.0", features = ["test-util"] }
warp = "0.3.2"

[build-dependencies]
vergen = { version = "7", default-features = false, features = ["git"] }
